* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100dvw;
    height: 100dvh;
    background-color: black;
    color: crimson;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    display: flex;
    text-shadow: 0px 5px 4px rgba(255, 255, 255, 0.2);
}

#am, #colon, #date{
    margin-left: 8px;
    margin-right: 8px;
}

.date-wrapper {
    margin-top: 16px;
    color: aliceblue;
    font-size: 1.25rem;
}